/* src/pages/Home.css */
.home {
    padding: 20px;
}

.categories {
    margin: 20px 0;
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.category-links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.category-link {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ff5a5f;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.category-link:hover {
    background-color: #ffcd02;
}
